.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1rem;
  height: calc(100dvh - 4rem);
  width: calc(100vw - 2rem);
}
.MuiAutocomplete-root{
  width: 80% !important;
  height: auto;
  max-width: 30rem;
}
.university{
    width: calc(90% - 2rem);
    height: 10rem;
    background-color: rgb(195, 195, 195);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    max-height: 15rem;
}
.university>img{
  width: auto;
  height: 95%;
  border-radius: 6px;
}
.university>.university-details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: auto;
  height: 90%;
  gap: 1rem;
}
.university>.university-details>a{
  color: #000;
  font-size: 1.5rem;
  text-align: right;
}
.university>.university-details>a:hover{
  text-decoration: underline;
}